<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nhnent.servicestudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".CountService"/>
        <service android:name=".CountBindService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.nhnent.servicestudy.CountBindService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:name=".CountCallbackService"/>
        <service android:name=".MessengerService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.example.nhnent.servicestudy.MessengerService"/>
            </intent-filter>
        </service>
    </application>

</manifest>